@charset "utf-8";
/* CSS Document */
main{

	}
.addUserForm{
	padding-top:10px;
	box-sizing: border-box;
	font-size: 14px;

	position: relative;
	top: 20px;
	left: 600px;
}
.addUserForm .td_left{
	width: 65px;
	text-align: right;
}
.addUserForm table{
	vertical-align: top;
}
.addUserForm table tr{
	height: 50px;
}
.addUserForm .td_right{
	width: 293px;
}
.addUserForm .td_right > input[type="text"],.addUserForm .td_right > input[type="password"],.addUserForm .td_right > input[type="date"]{
	width: 256px;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
	padding: 6px 12px;
	border-radius: 4px;
	border:1px solid #a6a6a6;
	float: right;
}
.addUserForm .regSubmit{
	width: 147px;
	height: 36px;
	line-height: 36px;
	background-color: #ffc900;
	padding-left: 118px;
	font-size: 14px;
    cursor: pointer;
}
.addUserForm .addSubmit{
	color: rgb(2,102,133);
	width: 55px;
	height: 30px;
	position: relative;
	left: 100px;
}